apiVersion: argoproj.io/v1alpha1
kind: Application
metadata: 
  name: application-from-scratch
spec:
  destination:
    namespace: default                		  # where application will be deployed
    server: https://kubernetes.default.svc 	# default kubernetese cluster: terminal --> argocd cluster list --grpc-web
  project: default				                  # use default project for this lab
  source:
    helm: 					                        # added builder name - helm
      releaseName: application-from-helm	  # added release name
      parameters:
        - name: "replicaCount"              # specified parameter name
          value: "3"                        # parameter value
    path: argocd-application/helm-charts/nginx			      # the path in the repo to the apllication manifests
    repoURL: https://github.com/entermix123/ArgoCD-Labs		# path to the argocd lab repo
    targetRevision: main					                        # we can use branch name, commit ID or tag name